<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Company View</title>

    <!-- link custon css -->
    <link type="text/css"  rel ="stylesheet" href="{{ url_for('static', filename='template.css') }}" />


  </head>
  <body>

	<!-- NAV BAR -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <a class="navbar-brand" href="#">IT Asset Information System</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
		</div>
	  </div>
	</nav>

	<!-- CONTENT LAYOUT -->

	<div class="row">
        <div class="col-8" style="padding-left: 25px;padding-top: 25px;">
        
               <div class="card" style="width: 99%;">
              <div class="card-body">
                <h5 class="card-title">Employees</h5>
		{% if template_data['employees']|length == 0 %}
		<p> No employees to show</p>
		{% else %}
				<table class="table">
				  <thead>
					<!-- TODO: modify to include other info -->
					<tr>
					  <th scope="col">Name</th>
					  <th scope="col">Start Date</th>
					  <th scope="col">End Date</th>
					  <th scope="col">Devices Outstanding</th>
					</tr>
				  </thead>
				  <tbody>
					{% for emp in template_data['employees'] %}
					<tr>
					  <td><a href="/emp/{{ emp[0] }}">{{ emp[1] }}</a></td>
					  <td>{{ emp[2] }}</td>
					  <td>{{ emp[3] }}</td>
					  <td>{{ emp[4] }}</td>
					  <td>{{ emp[5] }}</td>
					</tr>
					{% endfor %}
				  </tbody>
				</table>
		{% endif %}
              </div>
            </div> 
        </div>


        <div class="col-4" style="padding-top:25px;">
		   <div class="card" style="width: 18rem;">
		  <div class="card-body">
			<h5 class="card-title">Company-Wide IT Stats</h5>
			<p> TODO: STATS GO HERE </p>

			<!-- Button trigger modal for add/remove employee-->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
			Add/Remove Employee
			</button>

		  </div>
		</div> 
        
        </div>
    </div>



	<!-- Modal For Add/Remove Employee-->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			...
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save changes</button>
		  </div>
		</div>
	  </div>
	</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
